<%- include("../partials/header.ejs") %>

<script src="/scripts/home.js" defer></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
<link rel="stylesheet" href="/stylesheets/searchhome.css">

<div class="wrapper">
    <input type="checkbox" id="check">
    <!--header menu start-->
    <div class="header">
        <div class="header-menu">
                <% if(!currentUser){ %>
                    <div class="title"><a href="/" id="ans">ANS</a></div>
                    <div class="sidebar-btn">
                        <label for="check">
                            <i class="fas fa-bars"></i>
                        </label>
                    </div>
                    <ul>
                        <form action="/home/search" method="POST">
                            <div class="container">
                                <div class="search_wrap search_wrap_3">
                                    <div class="search_box">
                                        <input type="text" class="input" name="key" placeholder="Search" autocomplete="off">
                                            <div class="btn btn_common">
                                                <i class="fas fa-search"></i>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <li title="Sign up" class="li_btn_header"><a href="/signup" class="btn_header"><i class="fas fa-user-plus"></i></a></li>
                        <li title="Log in"><a href="/login"><i class="fas fa-sign-in-alt"></i></a></li>
                    </ul>
                <% } else if(currentUser.rank === "Member"){ %>
                    <div class="title"><a href="/" id="ans">ANS</a></div>
                    <div class="upgrade" title="Upgrade to premium"><a href="/premium">UPGRADE</a></div>
                    <div class="sidebar-btn">
                        <label for="check">
                            <i class="fas fa-bars"></i>
                        </label>
                    </div>
                    <ul>
                        <form action="/home/search" method="POST">
                            <div class="container">
                                <div class="search_wrap search_wrap_3">
                                    <div class="search_box">
                                        <input type="text" class="input" name="key" placeholder="Search" autocomplete="off">
                                            <div class="btn btn_common">
                                                <i class="fas fa-search"></i>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <li title="Logout"><a href="/logout"><i class="fas fa-power-off"></i></a></li>
                    </ul>
                <% } else if(currentUser.rank === "Admin" || currentUser.rank === "Premium"){ %>
                    <div class="title"><a href="/" id="ans">ANS</a></div>
                    <div class="sidebar-btn">
                        <label for="check">
                            <i class="fas fa-bars"></i>
                        </label>
                    </div>
                    <ul>
                        <form action="/home/search" method="POST">
                            <div class="container">
                                <div class="search_wrap search_wrap_3">
                                    <div class="search_box">
                                        <input type="text" class="input" name="key" placeholder="Search" autocomplete="off">
                                            <div class="btn btn_common">
                                                <i class="fas fa-search"></i>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <li title="Logout"><a href="/logout"><i class="fas fa-power-off"></i></a></li>
                    </ul>
                <% } %>
        </div>
    </div>
    <!--header menu end-->
    
    <!--mobile navigation bar start-->
    <div class="mobile_nav">
        <div class="nav_bar">
        <% if(!currentUser){ %>
        <% } else { %>
            <img src="<%= currentUser.profileimage %>" class="mobile_profile_image" alt="" onerror="this.style.display='none'">
        <% } %>
        <i class="fa fa-bars nav_btn" onclick="toggleMobile();"></i>
        </div>
        <% if(!currentUser){ %>
            <div class="mobile_nav_items">
                <a href="/home"><i class="fas fa-home"></i><span>Home</span></a>
                <a href="/favorite"><i class="fas fa-star"></i><span>Favorite</span></a>
                <a href="/profile"><i class="fas fa-user-circle"></i><span>Profile</span></a>
            </div>
        <% } else if(currentUser.rank === "Member" || currentUser.rank === "Premium"){ %>
            <div class="mobile_nav_items">
                <a href="/home"><i class="fas fa-home"></i><span>Home</span></a>
                <a href="/favorite"><i class="fas fa-star"></i><span>Favorite</span></a>
                <a href="/profile"><i class="fas fa-user-circle"></i><span>Profile</span></a>
            </div>
        <% } else if(currentUser.rank === "Admin"){ %>
            <div class="mobile_nav_items">
                <a href="/home"><i class="fas fa-home"></i><span>Home</span></a>
                <a href="/favorite"><i class="fas fa-star"></i><span>Favorite</span></a>
                <a href="/profile"><i class="fas fa-user-circle"></i><span>Profile</span></a>
                <a href="/addsong"><i class="fas fa-plus"></i><span>Add song</span></a>
                <a href="/usermanagement"><i class="fas fa-user-cog"></i><span>User management</span></a>
            </div>
        <% } %>
    </div>
    <!--mobile navigation bar end-->

    <!--sidebar start-->
    <div class="sidebar">
        <div class="profile_info">
        <% if(!currentUser){ %>
        <% } else { %>
            <img src="<%= currentUser.profileimage %>" class="profile_image" alt="" onerror="this.style.display='none'">
            <h4><%= currentUser.profilename %></h4>
        <% } %>
        </div>
        <% if(!currentUser){ %>
            <div class="sidetext">
                <a href="/home"><i class="fas fa-home"></i><span>Home</span></a>
                <a href="/favorite"><i class="fas fa-star"></i><span>Favorite</span></a>
                <a href="/profile"><i class="fas fa-user-circle"></i><span>Profile</span></a>
            </div>
        <% } else if(currentUser.rank === "Member" || currentUser.rank === "Premium"){ %>
            <div class="sidetext">
                <a href="/home"><i class="fas fa-home"></i><span>Home</span></a>
                <a href="/favorite"><i class="fas fa-star"></i><span>Favorite</span></a>
                <a href="/profile"><i class="fas fa-user-circle"></i><span>Profile</span></a>
            </div>
        <% } else if(currentUser.rank === "Admin"){ %>
            <div class="sidetext">
                <a href="/home"><i class="fas fa-home"></i><span>Home</span></a>
                <a href="/favorite"><i class="fas fa-star"></i><span>Favorite</span></a>
                <a href="/profile"><i class="fas fa-user-circle"></i><span>Profile</span></a>
                <a href="/addsong"><i class="fas fa-plus"></i><span>Add song</span></a>
                <a href="/usermanagement"><i class="fas fa-user-cog"></i><span>User management</span></a>
            </div>
        <% } %>
    </div>
    <!--sidebar end-->

    <div class="content">
        <div id="title_a-z">
            <div class="row">
                <p class="topic">Search by title<i class="fas fa-sort-alpha-down" onclick="sorttitle_za()"></i></p>
                <% if(songSearch.length === 0){ %>
                    <div class="notfound">Song title not found, please try again</div>
                <% } %>
                <% songSearch.forEach(function(showSong){ %>
                    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-4 col-6">
                        <a href="/home/song/<%= showSong._id %>" class="album-poster" data-switch="0">
                            <img src="<%= showSong.cover %>" alt="" class="img-fluid">
                            <h4 class="song_name"><%= showSong.name %></h4>
                        </a>
                    </div>
                <% }) %>
            </div>
        </div>

        <div id="title_z-a">
            <div class="row">
                <p class="topic">Search by title<i class="fas fa-sort-alpha-up" onclick="sorttitle_az()"></i></p>
                <% if(sortbyTitle.length === 0){ %>
                    <div class="notfound">Song title not found, please try again</div>
                <% } %>
                <% sortbyTitle.forEach(function(sortTitle){ %>
                    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-4 col-6">
                        <a href="/home/song/<%= sortTitle._id %>" class="album-poster" data-switch="0">
                            <img src="<%= sortTitle.cover %>" alt="" class="img-fluid">
                            <h4 class="song_name"><%= sortTitle.name %></h4>
                        </a>
                    </div>
                <% }) %>
            </div>
        </div>

        <hr>

        <div id="artist_a-z">
            <div class="row">
                <p class="nexttopic">Search by artist<i class="fas fa-sort-alpha-down" onclick="sortartist_za()"></i></p>
                <% if(artistSearch.length === 0){ %>
                    <div class="notfound">Artist name not found, please try again</div>
                <% } %>
                <% artistSearch.forEach(function(showArtist){ %>
                    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-4 col-6">
                        <a href="/home/song/<%= showArtist._id %>" class="album-poster" data-switch="0">
                            <img src="<%= showArtist.cover %>" alt="" class="img-fluid">
                            <h4 class="song_name"><%= showArtist.artist %></h4>
                        </a>
                    </div>
                <% }) %>
            </div>
        </div>

        <div id="artist_z-a">
            <div class="row">
                <p class="nexttopic">Search by artist<i class="fas fa-sort-alpha-up" onclick="sortartist_az()"></i></p>
                <% if(sortbyArtist.length === 0){ %>
                    <div class="notfound">Artist name not found, please try again</div>
                <% } %>
                <% sortbyArtist.forEach(function(sortArtist){ %>
                    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-4 col-6">
                        <a href="/home/song/<%= sortArtist._id %>" class="album-poster" data-switch="0">
                            <img src="<%= sortArtist.cover %>" alt="" class="img-fluid">
                            <h4 class="song_name"><%= sortArtist.artist %></h4>
                        </a>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>
<%- include("../partials/footer.ejs") %>